<div class="container-toolbar">
  <mat-form-field appearance="outline">
    <mat-label>Search</mat-label>
    <input matInput (keyup)="filter($event.target.value)" placeholder="Descreva o dado que deseja realizar a pesquisa">
  </mat-form-field>
</div>
<div class="div-table mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="account.number">
      <th mat-header-cell *matHeaderCellDef>account.number</th>
      <td mat-cell *matCellDef="let element">{{ element.account.number }}</td>
    </ng-container>
    <ng-container matColumnDef="aggregations">
      <th mat-header-cell *matHeaderCellDef>aggregations</th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngFor="let agr of element.aggregations">
          Period: {{agr.period_unit}} - Value: {{agr.average_income_per_period}} - Confidence: {{agr.minimum_confidence}}
          <br /> <!-- Use br if you want to display the roles vertically -->
        </ng-container>
      </td>
    </ng-container>
    <ng-container matColumnDef="sources">
      <th mat-header-cell *matHeaderCellDef>sources</th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngFor="let src of element.sources">
          Type: {{src.type}}
          <br /> <!-- Use br if you want to display the roles vertically -->
        </ng-container>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columns;"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[10,20,50,100]" showFirstLastButtons></mat-paginator>
</div>
